@import '../../themes/variables';

.FormInput {
    padding: 10px;
    margin: 3px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;

    input {
        margin: 5px 0;
        padding: 12px;
        border: .8px solid $inactive;
        outline: none;
        transition: .5s border;
        &:focus {
            border: .8px solid $primary;
        }
    }
}