
.centralized-block-panel {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .block-panel {
        min-width: 450px; 
        background-color: white;
        box-shadow: 1px 1px 10px rgba(105, 105, 105, 0.877);
        padding: 10px;
    }
}