@import '../../themes/variables';

.Button {
    margin: 5px 10px;
    
    button {
        padding: 15px 30px;
        background-color: $primary;
        color: white;
        transition: .5s background-color;
        font-size: 14px;
        border: none;
        outline: none;
        text-transform: uppercase;

        &:hover {
            background-color: darken($primary, 5); 
            cursor: pointer;           
        }

        &:active {
            background-color: darken($primary, 10);            
        }
    }
    
}